<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>HelpaFriend</title>
  <link rel="shortcut icon" href="https://raw.githubusercontent.com/sahirjamal/Personal-Website/master/wayfare-transparent_wayfare-artboard.png"/>
  <!-- Latest compiled and minified CSS -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600|Titillium+Web:400,600' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
  <!-- Removed Bootstrap! -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Add external src -->
  <!-- Mapquest  -->
  <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.0.0/mapquest.js"></script>
  <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.0.0/mapquest.css"/>
  <!-- Mapquest End -->
  <!-- End -->
  <!-- Your stylesheet -->
  <link rel='stylesheet' href='../stylesheets/style.css' />
</head>
<body> <!-- Add background="https://s-media-cache-ak0.pinimg.com/originals/e4/ab/66/e4ab6681febc449cff5d9ad492f5fdd3.jpg" -->
<font face="Gotham">
  <nav class="navbar navbar-default navbar-fixed-top navbar-default bg-default" style="margin-bottom: 0px;">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div>
          <nav class="navbar transparent">
            <a class="navbar-brand" href="/api"><h3 style="color:navy;">HelpaFriend</h3></a>
          </nav>
      </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right text" >
          <!-- <li><a href="/fb/auth">Login to Facebook</a></li> -->
          <!-- <li><a href="/more-wayfares">View other Wayfares</a></li> -->
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> More <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container abcde">
    {{{body}}}
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="/scripts/script.js"></script>
  <style>
  /*https://images.unsplash.com/photo-1420661696819-48ba5f66093b?*/
  /*https://images.unsplash.com/photo-1444337674219-536b231a4da6?*/

  .navbar {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(245, 245, 245, 0);
  }

  body {
    background-image: url(https://images.unsplash.com/photo-1438955185657-797f29aeaea8?ixlib=rb-);
    background-size: cover;
   }
  </style>
</body>
</font>
</body>
</html>
