<div style="padding-top: 50px; text-align:center; margin-top:28px;">
<h1 style="font-size: 43px;">Our friends at Help a Friend are ready to help you</h1>
<h2>Now get ready to sharpen and enhance your company:</h2>
</div>

<form class="well" method="POST">
<h3>Offer a Job Here:</h3>
  <div class="form-group">
    <label>First Name</label>
    <input type="text" name="firstName" class="form-control" placeholder="What is your first name?" required>
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" name="lastName" class="form-control" placeholder="What is your last name?" required>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" name="email" class="form-control" placeholder="What is your email? example@example.com" required>
  </div>
  <div class="form-group">
    <label>Contact Number</label>
    <input type="text" name="phoneNumber" class="form-control" placeholder="What is your phone number?" required>
  </div>
  <div class="form-group">
    <label>Company Name</label>
    <input type="text" name="employerName" class="form-control" placeholder="What is the name of your organization?" required>
  </div>
  <div class="form-group">
    <label>Company Address</label>
    <input type="text" name="location" class="form-control" placeholder="Where is the job going to take place?" required>
  </div>
  <div class="form-group">
    <label>Company Logo</label>
    <input type="text" name="picture" class="form-control" placeholder="(Optional)This picture will show up on the job profile. Input image link." >
  </div>
  <div class="form-group">
    <label>Job Title</label>
    <input type="text" name="title" class="form-control" placeholder="A succint descriptive title  ex. Dishwasher" required>
  </div>
  <div class="form-group">
    <label>Job Description</label>
    <textarea type="text" name="description" class="form-control" placeholder="What would a potential employee need to know?" required> </textarea>
  </div>
  <div class="form-group">
    <label>Potential Salary</label>
    <input type="text" name="totalPay" class="form-control" placeholder="What is a fair pay?" required>
  </div>
  <div class="form-group">
    <label>Date</label>
    <input type="text" name="when" class="form-control" placeholder="Ex. 08/17/2017, 12:00 am" required>
  </div>
  <div class="form-group">
    <label>Daily Time Committment</label>
    <input type="text" name="timeAllotted" class="form-control" placeholder="What are the hours of this job?" required>
  </div>
  <div class="form-group">
    <button class="btn btn-success" style="border-radius: 5px; padding: 0.5px; width:170px; height:40px; font-weight:medium; font-size:20px">List Job</button>
  </div>
</form>
