<center>
  <!-- <h2 style="font-size: 100px">Wayfare</h2> -->
  <h1 style="font-size:500%;color:navy;margin-top:1em;"> Congratulations! </h1>
<h2>You have successfully enlisted your job. We'll find your hire soon.</h2><br>
<br />
<a href="/" class="btn btn-primary" style="border-radius: 5px; padding: 1px; width:170px; height:70px;"><h3>Home Page</h3></a>

</center>
