<div class="backgroundimg">
  <div class="homeBody">
    <center> <div class='center'>
      <!-- <h2 style="font-size: 100px">Wayfare</h2> -->
      <h1 style="font-size:500%;color:000066;margin-top:1.5em;"> Help a Friend </h1>
      <h2 style="color:000066;margin-top:1em;">Find a job. Help a friend.</h2> <br>
    </div>
    <!-- <h2>Some tagline....</h2><br> -->
    <div style="display: flex; justify-content: center">
      <a href="/jobs/all" class="btn-employ" style="right: -17%; position: relative;"><h3>Employee</h3></a>
      <a href="/hire" class="btn-employer" style="left: -17%; position: relative;"><h3>Employer</h3></a>
    </div>
    <br />
    </center>
  </div>
</div>

<style>
  .btn-employ {

              background-color: rgba(245, 245, 245, 0.5);
              background-repeat:no-repeat;
              border: none;
              cursor:pointer;
              overflow: hidden;
              display: inline-block;
              padding: 3px;
              width:170px;
              height:70px;
              margin-left: 10px;
              color: 000066;

          }

  .btn-employer {

              background-color: rgba(245, 245, 245, 0.5);
              background-repeat:no-repeat;
              border: none;
              cursor:pointer;
              overflow: hidden;
              display: inline-block;
              padding: 3px;
              width:170px;
              height:70px;
              margin-right: 10px;
              color: 000066;

          }
</style>

<!-- border-radius: 5px; -->
