<div class="backgroundimg">
  <div class="homeBody">
    <center> <div class='center'>
      <!-- <h2 style="font-size: 100px">Wayfare</h2> -->
      <h1 style="font-size:500%;color:#f49e42;margin-top:1.5em;"> Help a Friend </h1>
      <h2>Find a job. Help a friend.</h2>
    </div>
    <h2>Some tagline....</h2><br>
    <a href="/search" class="btn btn-primary" style="border-radius: 5px; padding: 1px; width:170px; height:70px;"><h3>Employee</h3></a>
    <a href="/search" class="btn btn-danger" style="border-radius: 5px; padding: 1px; width:170px; height:70px;margin-left:5px;"><h3>Employer</h3></a>
    <br />
    </center>
  </div>
</div>
