<center>
<div class="row">
    <!--  Food-->
  <div class="jobsDiv">
    <p class="text"><b><h3>Plumbing Job</h3></b></p>
    <img style="width:50px;height:50px;" src= />
  <label><h4><b>Employer Name: Jack Rosenblatt</b></h4></label> <br>
  <label>Description: Looking for someone who has 3 years experience with react-redux.</label> <br>
  <label>Location: 1412, Market St, San Francisco, 10032</label> <br>
  <label>When: January 1st - February 17th, 2017</label> <br>
  <label>Total Pay: $5000 per month</label> <br>
  <label>Time Allotted: 9am - 5pm </label> <br>
  </div>
</div> <br>
</center>

<form class="well" method="POST">
  <h3>Apply For Job</h3>
  <div class="form-group">
    <label>First Name</label>
    <input type="text" name="firstName" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Middle Name</label>
    <input type="text" name="middleName" class="form-control">
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" name="lastName" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" name="email" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Contact Number</label>
    <input type="text" name="phoneNumber" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Social Security Number</label>
    <input type="text" name="socialSecurity" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" name="password" class="form-control">
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" name="passwordRepeat" class="form-control">
  </div>
  <div class="form-group">
    <button class="btn btn-success" style="border-radius: 5px; padding: 0.5px; width:170px; height:40px; font-weight:medium; font-size:20px">Apply</button>
  </div>
</form>

<a href="/congrats">Congrats Page</a>

<style>
  .well {
      background-color: rgba(245, 245, 245, 0.8);
  }
</style>
