<center>
<p><b><h1 style="font-size:380%">Browse Jobs</h1></b></p>
<style>
/*.well {
  background-color: rgba(157, 207, 232, 0.2);
 }*/


.row{
  border: 2px solid grey;
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.5);
}

.jobsDiv{
  text-align: left;
}

.btn{
  align-content: stretch;
}

</style>

      <!-- YOUR CODE HERE -->
      <label><p><b><h2>Search:</h2></b></p>    </label> <input type="text" name="location" style="margin-left: 20px;padding:5px; border-radius:5px;">
    <!-- Prefernces -->
    <div class="row">
        <!--  Food-->
      <div class="jobsDiv">
        <p class="text"><b><h3>Plumbing Job</h3></b></p>
        <img style="width:50px;height:50px;" src= />
      <label><h4><b>Employer Name: Jack Rosenblatt</b></h4></label> <br>
      <label>Description: Looking for someone who has 3 years experience with react-redux.</label> <br>
      <label>Location: 1412, Market St, San Francisco, 10032</label> <br>
      <label>When: January 1st - February 17th, 2017</label> <br>
      <label>Total Pay: $5000 per month</label> <br>
      <label>Time Allotted: 9am - 5pm </label> <br>
      <a href="/oneJob/loginApply" class="btn btn-warning" style="border-radius: 5px; padding: 0.5px; width:170px; height:40px; font-weight:medium; font-size:20px">Apply</a>

      </div>
    </div> <br>
    <br>
    <!-- End of First Row -->
    <div class="row">

        <!--  Food-->
      <div class="jobsDiv">
        <p class="text"><b><h3>Plumbing Job</h3></b></p>
        <img style="width:50px;height:50px;" src= />
      <label><h4><b>Employer Name: Jack Rosenblatt</b></h4></label> <br>
      <label>Description: Looking for someone who has 3 years experience with react-redux.</label> <br>
      <label>Location: 1412, Market St, San Francisco, 10032</label> <br>
      <label>When: January 1st - February 17th, 2017</label> <br>
      <label>Total Pay: $5000 per month</label> <br>
      <label>Time Allotted: 9am - 5pm </label> <br>
      <a href="/oneJob/registerApply" class="btn btn-warning" style="border-radius: 5px; padding: 0.5px; width:170px; height:40px; font-weight:medium; font-size:20px">Apply</a>
      </div>
    </div> <br>
    <br>
    <!--End of Interests-->
    <!--Location-->
      <!-- <label><p><b><h3>Location</h3></b></p></label> <input type="text" name="location"/> <br> -->
    </center>
